#Header-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #Header-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #Header-Search > .dx-field > .dx-field-label {
    width: 6%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #Header-Search > .dx-field > .dx-field-value {
    width: 30%;
  }
  #Footer-container > .dx-field > .dx-field-label {
    width: 35%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #Footer-container > .dx-field > .dx-field-value {
    width: 65%;
  }
  #HeaderToggle-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #HeaderToggle-container > .dx-field > .dx-field-value {
    width: 6%;
    float:right
  }
  #FooterToggle-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #FooterToggle-container > .dx-field > .dx-field-value {
    width: 17%;
    float:right
  }
  .custom-header {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */

  }
  .custom-header .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
  }

  #gridContainer .dx-datagrid-rowsview .dx-row:nth-child(even) td {
    background-color: #dfe8f8; /* Set your desired even row color here */
  }
  .custom-summary-row {
    background-color: #283741;
    color:white /* Set your desired summary row color here */
  }
  .custom-summary-row .dx-datagrid-text-content {
    color:white /* Set your desired summary row color here */
  }

.nav-tabsBillsbills .nav-link.active {
    background-color: #fa8e5c;
    color: rgb(14, 14, 14);
    width: 200px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 3px solid #283741;
    border-radius: 15px 0px 15px 0px;
}
.nav-tabsBillsbills .nav-link {
    background-color: #283741;
    color: rgb(223, 223, 223);
    width: 200px;
    height: 60px;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 3px solid #fa8e5c;
    border-radius: 15px 0px 15px 0px;
}
