#CurName-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #CurName-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #CurGuid-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #CurGuid-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #CurCost-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #CurCost-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
  .custom-header_Currencies {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */

  }
  .custom-header_Currencies .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
    font-size: 16px;
  }



