#Models-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #Models-container > .dx-field > .dx-field-value {
    width: 75%;
  }


  .custom-radio-group{
    width: 60%;
    font-size: 1.2rem;
  }


/* .AddDetails-link {
    background-color: rgb(250, 213, 157);
    padding: 8px 16px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: underline;
    cursor: pointer;
} */
.Delete-link {
    background-color: rgb(250, 143, 143);
    padding: 8px 16px;
    margin: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 4px;
    text-decoration: underline;
    cursor: pointer;
}
  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }


  #tabPanel {
    height: 250px;
    width: 100%;
    margin: 20px auto;
    border: 1px solid;
}


#textArea {
    padding: 15px;
    height: 100%;
}
