#ItemsBarcode-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: #283741;
  }

  #ItemsBarcode-container > .dx-field > .dx-field-value {
    width: 75%;
  }


  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
  .red-notification {
    background-color: #FF0000; /* Red background color */
    color: #FFFFFF; /* White text color */
    /* Add any other styles you need */
  }
.custom-header_Companies{
    background-color: #283741;
    color: white;

}
.custom-header_Companies .dx-datagrid-text-content {
    color: white;
    font-size: 16px;
}


