#IT_ID-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #IT_ID-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #IT_Name-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #IT_Name-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #IT_ParentID-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #IT_ParentID-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #IT_Code-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #IT_Code-container > .dx-field > .dx-field-value {
    width: 75%;
    font-size: 1.2rem;
  }
  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
  .custom-header {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */

  }
  .custom-header .dx-treelist-text-content {
    color: white; /* Override font color for the header text */
  }
