#Item-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #Item-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #Stores-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #Stores-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #StoresToggle-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #StoresToggle-container > .dx-field > .dx-field-value {
    width: 10%;
    float: right;
  }
#ItemToggle-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #ItemToggle-container > .dx-field > .dx-field-value {
    width: 10%;
    float: right;
  }


  #ITDefualtUnits-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #ITPrices-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(34, 34, 34);
    background-color: rgb(248, 233, 221);
    padding: 17px;
    justify-content: center;
    align-items: right;
    text-align: right;
    border-radius: 8px 0 0 8px;
  }

  #ITPrices-container > .dx-field > .dx-field-value {
    width: 40%;

  }
  #ItemRadio-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.1rem;
    color: rgb(34, 34, 34);
    /* background-color: aquamarine;
    height: 50;
    align-items: center;
    text-align: justify; */
  }

  #ItemRadio-container > .dx-field > .dx-field-value {
    /* display: flex; */
    width: 60%;
    font-size: 1.2rem;
  }
  .custom-radio-group{
    width: 60%;
    font-size: 1.2rem;
  }

  #Search-container > .dx-field > .dx-field-label {
    width: 10%;
    font-size: 1.2rem;
    color: rgb(252, 252, 252);
    /* background-color: rgb(248, 214, 186); */
    /* padding: 17px; */
    justify-content: center;
    align-items: left;
    text-align: left;
    border-radius: 8px 0 0 8px;
  }

  #Search-container > .dx-field > .dx-field-value {
    width: 65%;
    float: right;

  }

  #UnitTitle{
    background-color: rgb(248, 233, 221);
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;

  }

  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }



  #tabPanel {
    height: 250px;
    width: 100%;
    margin: 20px auto;
    border: 1px solid;
}

#form, #radioGroup {
    padding: 15px;
}

#textArea {
    padding: 15px;
    height: 100%;
}
.nav-tabsItems .nav-link.active {
    background-color: #fa8e5c;
    color: rgb(14, 14, 14);
    width: 150px;
    height: 50px;
    border: 3px solid #283741;
    border-radius: 15px 0px 15px 0px;
}
.nav-tabsItems .nav-link {
    background-color: #283741;
    color: rgb(223, 223, 223);
    width:150px;
    height: 50px;
    border: 3px solid #bdc7cf;
    border-radius: 15px 0px 15px 0px;
}

.custom-header {
    background-color: #fa8e5c; /* Set your desired color here */
    color: rgb(255, 255, 255); /* Set text color to make it readable */

  }
  .custom-header .dx-datagrid-text-content {
    color: rgb(255, 255, 255); /* Override font color for the header text */
  }
