#KName-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #KName-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #KGuid-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #KGuid-container > .dx-field > .dx-field-value {
    width: 75%;
  }

  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
  .custom-header_Kinds {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */

  }
  .custom-header_Kinds .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
    font-size: 16px;
  }


