#MName-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #MName-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #MGuid-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #MGuid-container > .dx-field > .dx-field-value {
    width: 75%;
  }

  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }


