#GsName-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #GsName-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #Gs_Guid-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #Gs_Guid-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #GsRatio-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #GsRatio-container > .dx-field > .dx-field-value {
    width: 75%;
  }
  #Gs_State-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
  }

  #Gs_State-container > .dx-field > .dx-field-value {
    width: 6%;
    float:right
  }
  .custom-headerSalesGroup {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */
    /* font-size: 1.2rem;
    height: 60px; */
    border-radius: 15px 15px 0px 0px;
  }
  .custom-headerSalesGroup .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
    font-size: 16px;
    /* height: 30px; */
    /* border-radius: 50px 50px 0px 0px; */
    /* height: 20px; */
  }
  /* .custom-summary-rowSalesGroup {
    background-color: #283741;
    color:white;

  }
  .custom-summary-rowSalesGroup .dx-datagrid-text-content {
    color:white;
    font-size: 1.2rem;
  } */

