#VinSearching-container > .dx-field > .dx-field-label {
    width: 10%;
    font-size: 1.2rem;
  }

  #VinSearching-container > .dx-field > .dx-field-value {
    width: 75%;
  }
 #btnSearch{
    margin: 5px;
    height: 53px;
 }
  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
