#UsersGroups-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1.2rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #UsersGroups-container > .dx-field > .dx-field-value {
    width: 75%;

  }

  #ToggleUsersGroups-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 1rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #ToggleUsersGroups-container > .dx-field > .dx-field-value {
    width: 17%;
    float:right
  }
  .inactive-cell {
    background-color: red;
    color: white;
    padding: 10px;
  }
  .custom-header_UsersGroups {
    background-color: #283741; /* Set your desired color here */
    color: white; /* Set text color to make it readable */

  }
  .custom-header_UsersGroups .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
    font-size: 16px;
  }



