#Users-container > .dx-field > .dx-field-label {
    width: 25%;
    font-size: 0.8rem;
    color: rgb(43, 43, 43);
    font-weight: bold;
  }

  #Users-container > .dx-field > .dx-field-value {
    width: 75%;
    
  }


  .custom-header_Users {
    background-color: #343A40; /* Set your desired color here */
    color: white; /* Set text color to make it readable */
    font-size: 12px;

  }
  .custom-header_Users .dx-datagrid-text-content {
    color: white; /* Override font color for the header text */
    font-size: 12px;
  }



